body {
  background-color: rgba(0,0,0,0.8);
  color: rgb(184, 184, 184);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  padding: 3%;
  background-color: #1e1f20;
}

/* ------ Default Style ---------- */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gauge-container {
  display: block;
  justify-content: center;
  align-items: baseline;
  width: 400px;
  height: 400px;
  background-color: rgba(34, 34, 34, 0);
}

.gauge {
  display: block;
  align-items: center;
}

.gauge-container > .label {
  color: #6c7f92;
  text-align: center;
  position: relative;
  bottom: -45%;
  right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

.gauge-container > .gauge .dial {
  stroke: #32404e;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}

.gauge-container > .gauge .value {
  stroke-width: 5;
}

.gauge-container > .value-text {
  color: #6c7f92;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0em;
  position: relative;
  bottom: -75%;
  right: auto;
  display: block;
  text-align: center;
}

.gauge-container > .gauge .value-text {
  fill: rgb(179, 179, 179);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  display: inline-block;
}