body {
  background-color: rgba(0,0,0,0.8);
  color: #999;
  font-family: 'Montserrat', sans-serif;
}
  
.info {
  clear: both;
  padding: 10px;
  font-size: 0.9em;
}
  
/* ------ Default Style ---------- */
.gauge-container {
  width: 500px;
  height: 500px;
  display: block;
  float: left;
  padding: 10px;
  background-color: rgba(34, 34, 34, 0);
  margin: 7px;
  border-radius: 3px;
  position: relative;
}
.gauge-container > .label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  padding: 5px 10px;
}
.gauge-container > .gauge .dial {
  stroke: #2b3947;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke-width: 4;
}

.gauge-container > .gauge .value-text {
  fill: rgb(179, 179, 179);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0em;
}