body {
  background-color: rgba(0,0,0,0.8);
  color: rgb(184, 184, 184);
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
  padding: 2%;
  background-color: rgb(31, 31, 31);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
}

/* ------ Default Style ---------- */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gauge-container {
  display: block;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  background-color: rgba(34, 34, 34, 0);
}

.gauge {
  display: block;
  align-items: center;
}

.gauge-container > .label {
  color: #6c7f92;
  text-align: center;
  position: relative;
  bottom: -45%;
  right: auto;
  font-size: 1.5em;
}

.gauge-container > .gauge .dial {
  stroke: #32404e;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}

.gauge-container > .gauge .value {
  stroke-width: 5;
}

.gauge-container > .value-text {
  color: #6c7f92;
  font-size: 150%;
  position: relative;
  bottom: -75%;
  right: auto;
  display: block;
  text-align: center;
}

.gauge-container > .gauge .value-text {
  fill: rgb(202, 201, 201);
  font-size: 1.0em;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}