<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <div class="item">
    <!-- <app-soil-humidity-gauge></app-soil-humidity-gauge> -->
    <app-relative-humidity-gauge></app-relative-humidity-gauge>
  </div>
  <div class="item">
    <!-- <app-temperature-gauge></app-temperature-gauge> -->
    <app-relative-humidity-gauge></app-relative-humidity-gauge>
  </div>
  

  <div class="item">
    <app-relative-humidity-gauge></app-relative-humidity-gauge>
  </div>
  <div class="item">
    <!-- <app-lux-gauge></app-lux-gauge>  -->
    <app-relative-humidity-gauge></app-relative-humidity-gauge>
  </div>
</div>





