{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<div>
    <h2 style="text-align: center;">Last Injection Timestamp: </h2>
</div>
<div class="flex-container">
    <div id="temp-gauge" class="gauge-container">
        <div class="label">Temperature</div>
        <div class="value-text">&#176C</div>
    </div>
    <div id="humidity-gauge" class="gauge-container">
        <div class="label">Soil Humidity</div>
        <div class="value-text">%</div>
    </div>
    <div id="lux-gauge" class="gauge-container">
        <div class="label">Luminous Flux</div>
        <div class="value-text">Lux</div>
    </div>
</div>

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-gauge@1.0.6/src/gauge.js"></script>
<script src="static/gauge.js"></script>
{% endblock %}